<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片显示页面</title>
</head>
<body>

<% imageData.forEach(function (image) {%>
     <img src="<%=image.imageKey%>">
<%})%>


</body>
</html>